.ReactModal__Overlay {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }
  
  .ReactModal__Overlay--after-open {
    opacity: 1;

  }
  
  .ReactModal__Overlay--before-close {
    opacity: 0;
  }

  .ReactModal__Content {
    border: none !important;
    background: none !important;
    
  }

 
/* Add this CSS in your stylesheet */
/* You can customize the transition duration and other properties based on your preference */

.card-container {
  transition: transform 0.3s ease-in-out; /* Add transition to the transform property */
}

.card-container:hover {
  transform: scale(0.97); /* Scale the card on hover */
}
